#wrapper {
    width: 1000px;
    border: 1px solid black;
    margin: auto;
}

#header {
    height: 200px;
    border: 1px solid black;
}

#left {
    float: left;
}

#sidebar-div {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 20px;
}

#right {
    width: 200px;
    height: 700px;
    border: 1px solid black;
    float: right;
    margin: 20px;
}

#content {
    width: 520px;
    height: 700px;
    border: 1px solid black;
    margin: 20px 240px;
    ;
}

#footer {
    height: 200px;
    border: 1px solid black;
    margin-top: 20px;
}

.clearfix {
    clear: both;
}
