div {
    width: 60%;
    min-width: 500px;
    max-width: 900px;
    margin: 10px auto;
    text-align: justify;
    border: 1px solid red;
    border-radius: 40px;
    padding: 10px 30px;
}

h1, h2 {
    color: #AE3000;
}
p {
    font: 17px Times New Roman;
}
.red {
    color: red;
}
.green {
    color: green;
}
.athor {
    font: italic 12px Arial;
    text-align: right;
    padding-right: 70px;
}
a {
    color: blue;
    text-decoration: underline;
}
a:hover {
    color: green;
    text-decoration: none;
}
