body,
h1,
h2,
p {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    width: 870px;
    margin: 0px auto;
}

#header {
    min-height: 200px;
    background-image: url(../img/Lesson16.2.bg.jpg);
}

#site-name {
    color: white;
    font-size: 27px;
    font-weight: bold;
    width: 180px;
    height: 30px;
    position: relative;
    left: 200px;
    top: 30px;
}

#slogan {
    color: white;
    font-size: 13px;
    font-weight: bold;
    width: 470px;
    position: relative;
    left: 230px;
    top: 30px;
}

#left {
    width: 200px;
    float: left;
}

#left div {
    margin: 20px 0px 0px 10px;
}

#left h2 {
    font-size: 16px;
}

#left p {
    font-size: 13px;
    margin-bottom: 10px;
    text-align: justify;
}

#content {
    margin-left: 200px;
    min-height: 600px;
    text-align: justify;
    padding: 20px;
}

#content h1 {
    font-size: 21px;
}

#content h2 {
    font-size: 19px;
    margin-bottom: 10px;
}

#content p {
    margin: 10px 0px;
}

#footer {
    height: 100px;
}

#footer div {
    position: relative;
    top: 75px;
    left: 200px;
    font-size: 12px;
    width: 666px;
    text-align: center;
}

#clearfix {
    clear: both;
}
